.primary-btn {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #1e3a8a;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.primary-btn:hover {
  background: #162d6b;
}